@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

:root {
  --theme: #7a32b9;

  --font: 'Roboto', sans-serif;
  --textColor: #1d2225;
  --textSecondaryColor: #666666;
  --inputTextColor: #1d2225;

  --lightColor: #7a7d81;
  --linkColor: #6b707c;

  --primaryBackground: #ffffff;
  --primaryBackgroundDark: #f3f3f3;

  --secndaryBackground: #ebebeb;
  --modalFrameBackground: #ffffff;
  --backdropBackground: #666666;
  --backdropBackgroundTransparent: rgba(102, 102, 102, 0.5);

  --inputBackground: #fbfbfb;
  --buttonLightBackground: #ffffff;

  --appNavBackground: #292929;

  --borderColor: #dfe0e1;

  --black: #111111;
  --white: #ffffff;
  --gray: #a2a9b5;
  --midGray: #5c626e;
  --lightGray: #f5f5f5;
  --lighterGray: #ebebeb;
  --blueGray: #e5e8eb;

  --placeholder: #7a7d81;
  --darkBg: #292929;

  --green: #27ae60;
  --red: #ec482f;
  --blue: #00c2ff;
  --yellow: #ffde1b;
  --orange: #f68620;

  --facebook: #3a5997;
  --twitter: #30acee;
  --telegram: #30acee;
  --vk: #45668e;
  --ok: #f68620;
  --viber: #79489c;
  --facetime: #46b96d;
  --skype: #1eabe2;
  --whatsapp: #50b948;
  --excel: #267248;
  --google: #d8634f;

  --lineGap: 1.5rem;

  --shadow: 0 0 20px rgba(9, 9, 9, 0.25);

  --innerBlockVerticalPadding: 1.5rem;
  --innerBlockHorizontalPadding: 1.5rem;

  /*inputs*/
  --inputPaddingHorizontal: 0.5rem;
  --inputFontSize: 0.875rem;
  --inputFontSizeSmall: 0.75rem;
  --inputHeightNormal: 2rem;
  --inputHeightBig: 2rem;
  --inputHeightSmall: 2rem;
}

@media only screen and (max-width: 1440px) {
  :root {
    --innerBlockVerticalPadding: 1rem;
    --innerBlockHorizontalPadding: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --innerBlockHorizontalPadding: 0.75rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primaryBackground: #ffffff;
    --primaryBackgroundDark: #f3f3f3;

    --secndaryBackground: #ebebeb;

    --modalFrameBackground: #ffffff;
    --backdropBackground: #666666;
    --backdropBackgroundTransparent: rgba(102, 102, 102, 0.5);
    --appNavBackground: #292929;

    --textColor: #151513;
    --textSecondaryColor: #666666;

    --inputBackground: #fbfbfb;
    --buttonLightBackground: #ffffff;

    --borderColor: #dfe0e1;

    --shadow: 0 0 20px rgba(9, 9, 9, 0.25);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primaryBackground: #24292c;
    --primaryBackgroundDark: #191e21;

    --secndaryBackground: #363d40;

    --modalFrameBackground: #363d40;
    --backdropBackground: #25292b;
    --backdropBackgroundTransparent: rgba(37, 41, 43, 0.8);
    --appNavBackground: #151a1d;

    --textColor: #dedede;
    --textSecondaryColor: #cbcbcb;

    --inputBackground: #afb6bf;
    --buttonLightBackground: #e8e8e8;

    --borderColor: #8f9091;

    --shadow: 0 0 15px rgba(9, 9, 9, 0.45);
  }
}

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  vertical-align: baseline;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-variant: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
address,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
label,
small,
time,
img {
  display: block;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 320px;
  font-family: var(--font);
  font-size: 15px;
  color: var(--textColor);
  background-color: var(--primaryBackground);
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 13px;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

mark {
  background: none;
  color: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

svg {
  position: relative;
  display: block;
  transition: fill 0.2s;
}

a {
  color: var(--linkColor);
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a[href*='mailto:']:hover,
a[href*='tel:']:hover {
  text-decoration: none;
}

input::-ms-clear {
  display: none;
}

::-webkit-input-placeholder {
  color: var(--placeholder);
}

::-moz-placeholder {
  color: var(--placeholder);
}

:-ms-input-placeholder {
  color: var(--placeholder);
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

:-ms-input-placeholder {
  color: var(--placeholder);
}
